*,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
	padding: 0 1rem;
}
.content {
	min-height: calc(100vh - 70px - 64px);
	padding: 20px 0;
}

.movie {
	max-width: 300px;
	min-height: 450px;
	margin: 0;
}
.movies {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;
}
img {
	min-height: 450px;
}
.inputIn {
	position: relative;
}
.preloader {
	position: absolute;
	top: 50%;
	right: 50%;
}
.btn-search {
	position: absolute;
	top: 0;
	right: 0.5rem;
}
.radio-btn {
	display: flex;
	gap: 1.5rem;
	margin-bottom: 10px;
}
